/*box-shadow: 0px 0px 0px 2px red inset;*/

body {
    background-image: url("optimized.svg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.game-banner-container {
    display: flex;
    position: absolute;
    left: 9.4%;
    top: 11.8%;
    width: 33.5%;
    height: 10.8%;
}

.app-title-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25.8%;
    height: 3.2%;
    right: 11.5%;
    top: 20.5%;
    font-size: 1.6vw;
    font-style: normal;
}

.game-list-container {
    text-align: center;
    position: absolute;
    left: 4.4%;
    top: 27%;
    width: 43.12%;
    font-size: 1.4vw;
    font-style: normal;
    
}

.game-name {
    color: lightgray;
}

.game-name:focus {
    color: rgb(63, 176, 252);
    outline: none;
}

.game-screenshot-container {
    display: flex;
    position: absolute;
    width: 42.5%;
    right: 4.3%;
    top: 27%;
    height: 46.5%;
}

.actual-screenshot {
    max-width: 95%;
    height: 95%;
    margin: auto;
}

.actual-banner {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.game-number-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22.8%;
    height: 3.3%;
    right: 4%;
    top: 79.9%;
    font-size: 1.5vw;
    font-style: normal;
}

