body {
    background-color: white;
}

.display-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.games-list {
    background-color: white;
    border: 2px solid purple;
    margin-right: 10px;
    margin-left: 20px;
}

.game-image {
    background-color: white;
    border: 2px solid purple;
    margin-right: 20px;
    margin-left: 10px;
}
  
#games-list-box div {
    text-align: center;
}

.test-box div:focus {
    color: #3232;
    border: none;
    outline: none;
}

.test-box {
    background-color: white;
    border: 2px solid purple;
    margin-right: 10px;
    margin-left: 10px;
}